body { background-color: white;
  background-image: url(../imagenes/pan_3.jpg);
  background-size: contain;
}
head
header {background-color: white;}
.logo-ppal {width: 150px; height: 110px;}
.redes1 {width: 60px; height: 60px;padding:10px;}
.redes2 {width: 60px; height: 60px;
position: fixed;}
.ppal-encabezado {display: flex;justify-content:space-between; flex-wrap:wrap;
background-color: white}
.titulo {text-decoration: none;}
.ppal-redes {margin: 10px;
  display: flex;justify-content:space-between;}
nav {background-color: blue;
margin: 35px;
padding: 15px;
border:2px solid;
}
section {background-color: green;}
aside {background-color: orange;}
footer {background-color: white;}
.base {display: flex;justify-content:space-between;flex-wrap:wrap;}
.redes-bajo {display: flex;justify-content: space-between;}
.principal{font-size: xx-large}
.principal {text-decoration: underline;}
.titulocontacto {text-decoration: underline;}
.direccion {text-decoration: none;}
p {text-align: center;}
a {color: #FFFF00}
img {width: 500px; height: 300px;)
