body { background-color: white;
  background-image: url(../imagenes/pan_3.jpg);
  background-size: contain;
}
header {background-color: white;display:flex;justify-content:space-between;flex-wrap:wrap;}
.logo-ppal {width: 150px; height: 110px;}
.redes1 {width: 60px; height: 60px;padding:10px;}
.redes2 {width: 60px; height: 60px;
position: fixed;
bottom:0;
right:0;}
.redes3 {display: flex;justify-content:space-between}
.titulo {text-decoration: none;}
nav {background-color: blue;
margin: 35px;
padding: 15px;
border:2px solid;
}
section {background-color: green;}
aside {background-color: orange;}
footer {background-color: gray;display:flex;justify-content:space-around;align-items: center;flex-wrap:wrap;}
.redes-bajo{display:flex;justify-content:space-between}
.datos {align-items:baseline;}
.principal{font-size: xx-large}
.principal {text-decoration: underline;}
.titulocontacto {text-decoration: underline;}
.direccion {text-decoration: none;}
p {text-align: center;}
a {color: #FFFF00}
img {width: 500px; height: 300px;)
